
@{
    Layout = "~/Views/Shared/ProductPageLayout.cshtml";
    ViewData["Title"] = "Payment";
    string totalCost = (string)ViewData["totalCost"];
    string msg = (string)ViewData["message"];
}

<form method="post" class="checkout-form" enctype="multipart/form-data" asp-controller="Checkout" asp-action="index" style="width:100%">

    <input type="hidden" value="@totalCost" name="totalCost">
    <div class="viewcart-form">
        <p id="guide">Please complete your order.</p>


        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                document.getElementById("paymentStatus").innerHTML = "@ViewBag.Message";
                
                $(".checkout-form").mouseenter(function (e) {
                    e.preventDefault();
                    $("#credit-card").hide();
                    $("#guide").hide();
                    $("#payBtn").hide();
                    $("#cancelBtn").hide();
                    $("#nextBtn").show();
                });
                
            }
            </script>
        }


        <div id="credit-card" class="row">
            
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            Payment Details
                        </h5>
                        <div class="checkbox pull-right">
                            <label>
                                <input type="checkbox" />
                                Remember
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div class="cards">
                                <img src="~/img/mastercard.jpg" />
                                <img src="~/img/visa.jpg" />
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">
                                    CARD NUMBER
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expityMonth">
                                            EXPIRY DATE
                                        </label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">
                                            CV CODE
                                        </label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <div class="total-payment"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>S$@totalCost</span> Total Payment:</div>
                    </li>
                </ul>
                <br />
                <button class="btn btn-success btn-lg btn-block" type="submit" formaction="Checkout?cmd=paynow" id="payBtn">Pay</button>

            </div>
        </div>
        <p id="paymentStatus"></p>
    </div>

</form>
<br />
<a class="btn btn-light" asp-controller="Purchases" asp-action="Index" id="nextBtn" style="display:none;">View My Purchase</a>
<a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index" id="cancelBtn">Cancel</a>


